# 忽略所有以.o或.a结尾的文件
# 	*.[oa] 

# 忽略所有以波浪符结尾的文件
#	*~

# .gitignore格式规范
#	所有空行或以#开头的行会被git忽略
#	可以使用标准的glob模式匹配
#		glob模式指shell所使用简化的正则表达式
#			星号（*）匹配零个或多个任意字符；
#			[ab] 匹配任何一个列在方括号中的字符（匹配一个 a或匹配一个 b）；
#			问号（?）只匹配一个任意字符；
#			[0-9] 表示匹配所有 0 到 9 的数字。
#	匹配模式最后跟上反斜杠（\）说明忽略的是目录
#	匹配模式前加!，表示取反

# .gitignore范例
# 忽略所有 .a 结尾的文件
#	*.a
# 但 lib.a 除外
#	!lib.a
# 仅仅忽略项目根目录下的 TODO 文件，不包括 subdir/TODO
#	/TODO
# 忽略 build/ 目录下的所有文件
#	build/
# 会忽略 doc/notes.txt 但不包括 doc/server/arch.txt
#	doc/*.txt

